.toolbarSpan {
  //display: flexbox;
  //padding-left: 3cm;
  color: floralwhite;
  padding-right: 1.5cm;
  font-size: medium;
}

.mat-toolbar {
  background-color: #1f2833;
  position: sticky;
  top: 0;
  z-index: 102;
}

.mat-toolbar-single-row {
  padding: 0;
}

.toolbarSpan:hover {
  cursor: pointer;
}

.toolbarSpan:focus {
  outline: 0;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
       Every toolbar row uses a flexbox row layout. */
  flex: 1;
}

.example-card {
  width: 192px;
  min-width: 192px;
  height: 49px;
  margin: 20px;
  transition: 0.3s;
}

.example-card:hover {
  cursor: pointer;
  background-color: lightgray;
}

.worldDataClass {
  min-width: 300px;
  height: 91vh;
}

@media screen and (min-width: 0px) and (max-width: 599.9px) {
  .example-card {
    width: 300px;
    min-width: 192px;
    height: 49px;
    margin: 20px;
    transition: 0.3s;
  }
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 101; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
    margin-top: 1.5cm;
  }
  .sidenav a {
    font-size: 18px;
  }
}

@media screen and (min-width: 0px) and (max-width: 599.9px) {
  .mat-spinner-mobile {
    margin-left: 8rem;
    margin-top: 5rem;
  }
}
