<div fxLayout="column">
  <mat-toolbar class="mat-toolbar">
    <button mat-button (click)="openNav()" fxHide="true" fxShow.lt-lg>
      <mat-icon style="color: white;">
        menu
      </mat-icon>
    </button>
    <span style="padding-left: 5px; color: floralwhite;">Covid-19 Tracker</span>
    <span class="example-fill-remaining-space"></span>
    <div fxHide="true" fxShow.gt-md>
      <span class="toolbarSpan" routerLink="" >Global</span>
      <!--<a href="https://learnprogramminglanguagee.blogspot.com/2020/05/how-to-learn-new-programming-language.html" class="toolbarSpan"
        target="_blank">blog</a>-->
      <span
        class="toolbarSpan"
        routerLink="/continent_asia"
        [queryParams]="{ continent: 'Asia' }"
        >Asia</span
      >
      <span
        class="toolbarSpan"
        routerLink="/continent_europe"
        [queryParams]="{ continent: 'Europe' }"
        >Europe</span
      >
      <span
        class="toolbarSpan"
        routerLink="/continent_africa"
        [queryParams]="{ continent: 'Africa' }"
        >Africa</span
      >
      <span
        class="toolbarSpan"
        routerLink="/continent_north_america"
        [queryParams]="{ continent: 'North America' }"
        >North America</span
      >
      <span
        class="toolbarSpan"
        routerLink="/continent_south_america"
        [queryParams]="{ continent: 'South America' }"
        >South America</span
      >
      <!--<span class="toolbarSpan" routerLink="/continent_australia" [queryParams]="{continent:'Australia'}">Australia</span>-->
      <span class="toolbarSpan" routerLink="/about">About</span>
    </div>
  </mat-toolbar>

  <div id="mySidenav" class="sidenav">
    <a mat-list-item class="toolbarSpan" routerLink="" (click)="openNav()"
      >Global</a
    >
    <!--<a href="https://learnprogramminglanguagee.blogspot.com/2020/05/how-to-learn-new-programming-language.html" class="toolbarSpan"
        target="_blank">blog</a>-->
    <a
      mat-list-item
      class="toolbarSpan"
      routerLink="/continent_asia"
      [queryParams]="{ continent: 'Asia' }"
      (click)="openNavScroll()"
      >Asia</a
    >
    <a
      mat-list-item
      class="toolbarSpan"
      routerLink="/continent_europe"
      [queryParams]="{ continent: 'Europe' }"
      (click)="openNavScroll()"
      >Europe</a
    >
    <a
      mat-list-item
      class="toolbarSpan"
      routerLink="/continent_africa"
      [queryParams]="{ continent: 'Africa' }"
      (click)="openNavScroll()"
      >Africa</a
    >
    <a
      mat-list-item
      class="toolbarSpan"
      routerLink="/continent_north_america"
      [queryParams]="{ continent: 'North America' }"
      (click)="openNavScroll()"
      >North America</a
    >
    <a
      mat-list-item
      class="toolbarSpan"
      routerLink="/continent_south_america"
      [queryParams]="{ continent: 'South America' }"
      (click)="openNavScroll()"
      >South America</a
    >
    <!--<a mat-list-item class="toolbarSpan" routerLink="/continent_australia" [queryParams]="{continent:'Australia'}">Australia</a>-->
    <a
      mat-list-item
      class="toolbarSpan"
      routerLink="/about"
      (click)="openNavScroll()"
      >About</a
    >
  </div>
  <mat-spinner class="mat-spinner-mobile" *ngIf="!loaded"> </mat-spinner>
  <div fxLayout="row" class="zero" fxLayout.xs="column" *ngIf="loaded">
    <div class="worldDataClass" fxFlex="20" fxLayoutAlign.xs="center">
      <div>
        <mat-card
          style="margin: 20px; background-color: #1f2833; color: white;"
          class="example-card"
        >
          <mat-card-header>
            <mat-card-title style="font-size: larger;"
              >Global Data</mat-card-title
            >
          </mat-card-header>
        </mat-card>

        <mat-card
          style="margin-top: 5px; background-color: #1f2833;"
          class="example-card"
        >
          <mat-card-header>
            <mat-card-title style="font-size: medium; color: white;"
              >Confirmed</mat-card-title
            >
          </mat-card-header>
          <mat-card-content>
            <p style="font-size: x-large; padding-left: 15px; color: red;">
              {{ numberWithCommas(worldStats.cases) }}
            </p>
          </mat-card-content>
        </mat-card>

        <mat-card style="background-color: #1f2833;" class="example-card">
          <mat-card-header>
            <mat-card-title style="font-size: medium; color: white;"
              >Recovered</mat-card-title
            >
          </mat-card-header>
          <mat-card-content>
            <p style="padding-left: 15px; color: lime; font-size: x-large;">
              {{ numberWithCommas(worldStats.recovered) }}
            </p>
          </mat-card-content>
        </mat-card>

        <mat-card style="background-color: #1f2833;" class="example-card">
          <mat-card-header>
            <mat-card-title style="font-size: medium; color: white;"
              >New Confirmed</mat-card-title
            >
          </mat-card-header>
          <mat-card-content>
            <p style="font-size: x-large; padding-left: 15px; color: red;">
              {{ numberWithCommas(worldStats.todayCases) }}
            </p>
          </mat-card-content>
        </mat-card>

        <mat-card style="background-color: #1f2833;" class="example-card">
          <mat-card-header>
            <mat-card-title style="font-size: medium; color: white;"
              >Active</mat-card-title
            >
          </mat-card-header>
          <mat-card-content>
            <p style="font-size: x-large; padding-left: 15px; color: lime;">
              {{ numberWithCommas(worldStats.active) }}
            </p>
          </mat-card-content>
        </mat-card>

        <mat-card style="background-color: #1f2833;" class="example-card">
          <mat-card-header>
            <mat-card-title style="font-size: medium; color: white;"
              >Total Deaths</mat-card-title
            >
          </mat-card-header>
          <mat-card-content>
            <p style="font-size: x-large; padding-left: 15px; color: red;">
              {{ numberWithCommas(worldStats.deaths) }}
            </p>
          </mat-card-content>
        </mat-card>

        <mat-card style="background-color: #1f2833;" class="example-card">
          <mat-card-header>
            <mat-card-title style="font-size: medium; color: white;"
              >Tests</mat-card-title
            >
          </mat-card-header>
          <mat-card-content>
            <p style="font-size: x-large; padding-left: 15px; color: red;">
              {{ numberWithCommas(worldStats.tests) }}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div id="routerDiv" fxFlex="80" fxLayoutAlign.xs="center">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
